// color name
$contact: #da6b64;
$bg-yellow: #ebb94d;
$bg-blue: #016ea9;
$bg-cream: #fef5e0;


// pc responsive 1071px~ 
@media screen and (min-width:691px) {
  // .container {
  //   max-width: 70%;
  // }

  header {
    .header-right{
      .sp {
        display: none;
      }
    }
  }

  // member

  // schedule for sp
  .schedule-sp {
    display: none;
  }

  // benefit
  .benefit-group-sp {
    display: none;
  }
}

// ipad responsive 691~1070px
// @media screen and (min-width:691px)and(max-width:1070px) {


// }

// sp responsive ~690px
@media screen and (max-width:690px) {

  // for all sp
  .pc-img {
    display: none;
  }

  .container {
    padding: 1em 0;
    width: 690px;
    max-width: 95%;
  }

  h3,
  h5 {
    font-size: 1em;
    font-weight: 600;
  }

  p, li {
    font-size: 16px;
    line-height: 1.5;
  }

  // bracket
  .bracket {
    font-weight: bold;
    position: relative;
    padding: 1em 0;
    margin: 2em auto;
    font-size: 1.2em;
  }

  .bracket::before,
  .bracket::after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    display: inline-block;
  }

  .bracket::before {
    border-left: solid .2em $bg-yellow;
    border-top: solid .2em $bg-yellow;
    top: 0%;
    left: 5%;
  }

  .bracket::after {
    border-right: solid .2em $bg-yellow;
    border-bottom: solid .2em $bg-yellow;
    bottom: 0%;
    right: 3%;
  }

  // bracket-white

  .bracket-white {
    font-weight: bold;
    position: relative;
    padding: 1em 0;
    margin: 2em auto;
    font-size: 1.2em;
  }

  .bracket-white::before,
  .bracket-white::after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    display: inline-block;
  }

  .bracket-white::before {
    border-left: solid .2em #ffffff;
    border-top: solid .2em #ffffff;
    top: -10%;
    left: 3%;
  }

  .bracket-white::after {
    border-right: solid .2em #ffffff;
    border-bottom: solid .2em #ffffff;
    bottom: -20%;
    right: -3%;
  }

  // modal
  .popup-inner {
    width: 90%;
    padding: 25px;

    .link {

      a {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  // modal



  // header
  header {
    padding: 0;

    .header-left {
      position: relative;
      width: 50%;

      a {

        img {
          width: 6em;
          margin-top: .8em;
        }
      }

      p {
        position: absolute;
        top: -30px;
        left: 0;
      }

    }

    .header-right {
      margin: 0 0 0 auto;
      position: relative;

      .pc {
        display: none;
      }

      .sp {
        border-radius: 0;
        height: 100%;
        padding: 3em .7em .5em;
        font-size: .8em;

        .fa-file-alt {
          position: absolute;
          top: 10px;
          left: 25px;
          font-size: 2em;

        }
      }
    }
  }

  // main-visual
  .main-visual {
    height: 20em;

    h4, p {
      padding-top: 0;
      font-size: 1rem;
      line-height: 1.5;
      margin-top: 1.5rem;
    }

    
    img {
      margin-top: 1rem;
      width: 70%;
    }
  }

   // contact1

  .contact-btn {
    font-size: 1.2em;
    font-weight: 500;
    padding: 1rem 3rem !important;
  }

  .contact1 p {
    font-size: 15px;
    margin: 2rem auto;
    font-weight: normal;
  }

  // introduction
  .introduction p {
    margin: 3em auto;
    font-size: .9em;
  }

  // about-service
  .about-service {
    padding: 0;
    .about {
      font-size: .8em;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h3 {
      line-height: 200%;
    }
  }

  .item {
    padding: 5px;

    img {
      height: 30px;
    }
  }

  // step 
  .step {
    h3 {
      font-size: 1em;
    }

    h5 {
      font-size: .8em;
    }

    .step-box {
      .en {
        font-size: .8em;
        margin: .5em;
      }

      p {
        margin-top: 1em;
      }

      .ja {
        font-size: .8em;
      }
    }
  }

  // about-learning

  .important {
    font-size: .8em;
    padding-top: 1em;
  }

  .about-learning {
    h3 {
      font-weight: bold;
    }

    p {
      font-size: .8em;
    }

    .learning-ball {
      margin: 0 3em;

      img {
        margin: 1em auto;
        width: 23%;
      }

      p {
        font-weight: bold;
      }
    }
  }

  // about-recommend
  .about-recommend {
    padding: 2em 0;

    .bracket {
      h5 {
        font-size: .9rem;
      }

      h3 {
        font-size: 1.1rem;
      }
    }

    .recommend-box {
      display: inline-block;
      margin: 1em auto;


      .recommend-item {
        display: inline-block;
        width: 100%;
        margin: 1em;

        p {
          text-align: left;
        }
      }
    }

    .recommend-benefit {
      margin: 1em;
      padding: 1em;
      border: solid .2em $bg-yellow;

      h5 {
        font-size: .9em;
      }
    }
  }

  // member 
  .member {
    padding: 2em 0;

    .p {
      font-size: .7em;
    }

    .member-box {
      padding: 1em;
      padding-top: 3em;
      margin-bottom: 7em;

      img {
        width: 9em;
        top: -13%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      p {
        font-size: .8em;
        font-weight: 100;
      }
    }

    .member-box:last-child {
      margin-bottom: 1em;
    }
  }

  // qa
  .question {

    .caret {
      font-size: 5.5em;
      
    }
  }

  .answer {
    padding: 2em 0;

    p {
      font-size: .8em;
      margin-top: 1em;
    }

    .small {
      font-size: .7em;
    }

    .answers {

      h5,
      span {
        font-size: 1em;
      }
    }
  }

  // learning
  .learning {
    padding: 2em 0;

    .lesson {
      margin: 2em 0;

      table {

        th,
        td {
          padding: .8em;
          font-size: .8em;
        }
      }
    }
  }

  // learning-support
  .learning-support {
    font-weight: normal;
    padding-top: 1em;
  }

  // schedule for pc
  .schedule-pc {
    display: none;
  }

  // schedule for sp
  .schedule-sp {
    background-color: #fff;
    padding-bottom: 2em;

    h3 {
      text-align: center;
      padding: 2em 0;
    }

    .schedule-accordion {
      position: relative;
      width: 100%;
      margin-bottom: .3em;
      text-align: center;
      background-color: $bg-cream;


      .schedule-article-title {
        text-align: left;
        display: flex;
        position: relative;
        padding: .3em;
        font-weight: 600;
        cursor: pointer;

        img {
          width: 2.5em;
          height: 2.5em;
          padding-top: .3em;
        }

        p {
          padding: .7em;
          margin: 0;
        }

      }

      .schedule-article-title:hover,
      .schedule-article-title:active,
      .content-entry.open .schedule-article-title {
        text-decoration: underline;
      }

      .schedule-article-title:hover i:before,
      .schedule-article-title:hover i:active,
      .content-entry.open i {
        text-decoration: underline;
      }

      .schedule-article-title {
        position: relative;
      }

      .schedule-article-title:after {
        content: "";
        position: absolute;
        right: 25px;
        top: 38%;
        transition: all 0.2s ease-in-out;
        display: block;
        width: 10px;
        height: 10px;
        border-top: solid 3px #333333;
        border-right: solid 3px #333333;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      .schedule-article-title.open:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 45%;
      }

      .schedule-accordion-content {
        text-align: left;
        display: none;
        padding: 1.5em;
        font-weight: 600;
        font-size: .6em;
        color: #333333;
      }
    }
  }

  // bangkok
  .bangkok {
    background: url(/img/bangkokbgsp.jpg);
    background-position: center;
    padding: 2em;

    .container {

      h4 {
        text-align: center;
      }

      p {
        font-size: .8em;
        line-height: 2em;
      }

      .sp-big {
        font-size: 1em;
      }
    }
  }

  // benefit
  .benefit {

    p {
      font-size: .8em;

      .sp-white {
        color: #fff;
      }
    }

    .benefit-group-pc {
      display: none;
    }

    .benefit-group-sp {
      border: 2px solid #ffffff;
      position: relative;
      padding: 3em 3em 1em;

      h3 {
        font-size: 1.2em;
        position: absolute;
        top: -1%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f7c23c;
        padding: .5em;
      }

      .benefit-flex {
        display: flex;
        text-align: left;


        h4 {
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          font-size: .9em;
          background-color: #fff;
          width: 70px;
          height: 70px;
          line-height: 70px;
          color: #f7c23c;

        }

        p {
          width: 80%;
          margin-left: 3em;
          margin-bottom: 3em;
          padding-top: .8em;
          color: #fff;

        }

      }
    }

  }

  // value

  .value {
    padding: 2em 0 3em;

    p {
      font-size: .8em;
    }

    
  }

  // message 
  .message {
    padding: 2em 0;
  }

  // contact 
  .contact2 {

    .container {
      .contact-form {

        input,
        textarea,
        a {
          width: 100%;
        }
      }
    }
  }

  // questions
  .questions {
    padding: 1em;

    .question-accordion {

      .question-article-title {
        padding: .5em;
        font-size: .9em;
      }

      .question-accordion-content {
        font-size: .8em;
      }
    }
  }
}