@charset "UTF-8";
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  background-color: silver;
  width: 100%;
  letter-spacing: 1px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 100%;
}

.bracket {
  font-weight: bold;
  position: relative;
  padding: 1em;
  margin-bottom: 2em;
}

.bracket h3 {
  margin: 0 2em 1em 2em;
}

.bracket::before,
.bracket::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
}

.bracket::before {
  border-left: solid 0.3em #ebb94d;
  border-top: solid 0.3em #ebb94d;
  top: 0%;
  left: 4%;
  transform: translate(-50%, -50%);
}

.bracket::after {
  border-right: solid 0.3em #ebb94d;
  border-bottom: solid 0.3em #ebb94d;
  bottom: -20%;
  right: -2%;
  transform: translate(-50%, -50%);
}

.bracket-white {
  position: relative;
  padding: 1em;
  margin-bottom: 2em;
}

.bracket-white h4 {
  margin: 0 2em 1em 2em;
}

.bracket-white::before,
.bracket-white::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline-block;
}

.bracket-white::before {
  border-left: solid .2em #ffffff;
  border-top: solid .2em #ffffff;
  top: 0%;
  left: 4%;
  transform: translate(-50%, -50%);
}

.bracket-white::after {
  border-right: solid .2em #ffffff;
  border-bottom: solid .2em #ffffff;
  bottom: -50%;
  right: -2%;
  transform: translate(-50%, -50%);
}

.container {
  padding: 3em 0;
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  overflow: hidden;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  color: #333;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  border: double 5px #364e96;
}

.popup-inner .title {
  color: #364e96;
  padding: 1px;
  display: inline-block;
  border-bottom: solid 3px #364e96;
  margin-bottom: 1rem;
}

.popup-inner .text {
  display: inline-block;
  text-align: left;
  margin-bottom: .5rem;
}

.popup-inner .link {
  text-align: center;
}

.popup-inner .link a {
  background-color: #364e96;
  color: #fff;
  border: solid 2px #364e96;
  border-radius: 3px;
  padding: 7px;
  transition: all .5s;
}

.popup-inner .link a:hover {
  background-color: #fff;
  color: #364e96;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.close-btn i {
  font-size: 30px;
  color: #333;
}

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}

header {
  display: flex;
  padding: 0 4em;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 20;
}

header .header-left {
  display: flex;
  margin: .5rem;
}

header .header-left a {
  display: inline-block;
}

header .header-left a img {
  width: 9em;
}

header .header-left p {
  margin-top: 3.5em;
  font-size: .5em;
  font-weight: bold;
  color: #333333;
}

header .header-right {
  margin: 1.5em 0 0 auto;
}

header .header-right a {
  display: inline-block;
  background-color: #da6b64;
  padding: 1em 3em;
  border-radius: 3em;
  font-weight: 100;
  font-size: .5em;
}

.main-visual {
  background-image: url(/img/mainsp.jpg);
  background-size: cover;
  text-align: center;
  height: 30em;
  color: #333333;
}

.main-visual h4 {
  padding-top: 3em;
  font-weight: bold;
  line-height: 2;
}

.main-visual img {
  width: 20em;
}

.main-visual p {
  padding-top: 1em;
  font-weight: bold;
}

.contact1 {
  background-color: #ebb94d;
}

.contact1 p {
  color: #ffffff;
}

.contact1 .free {
  background-color: #ffffff;
  color: #da6b64;
  width: 28em;
  margin: 1em auto;
  font-size: .8em;
}

.contact1 .contact-btn {
  display: inline-block;
  background-color: #da6b64;
  padding: 1.2em 9em;
  border-radius: 3em;
}

.contact1 p {
  color: #ffffff;
  margin: 1.5em;
  font-size: 18px;
  font-weight: 600;
}

.contact1 .sns {
  padding: .7em;
  font-size: .5em;
  border-radius: .5em;
}

.contact1 .fa-twitter {
  background-color: #1DA1F2;
}

.contact1 .fa-thumbs-up,
.contact1 .share {
  background-color: #4267B2;
}

.introduction {
  background-image: url(/img/introbottom.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 2em 0 10em 0;
  color: #333333;
}

.introduction p {
  margin-bottom: 2em;
  font-weight: 300;
}

.introduction .underline {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about-service {
  background-color: #fef5e0;
  position: relative;
  padding: 5em 0 2em;
}

.about-service .about {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebb94d;
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  line-height: 1em;
}

.about-service h5 {
  padding: 2em 0 1em;
}

.about-service .skill-box {
  background-color: #ffffff;
  border: 0.11em solid #ebb94d;
  margin: 1em;
}

.about-service .skill-box h5 {
  margin-bottom: 1em;
}

.about-service .skill-box .skill-item {
  padding: 1em 2em;
}

.about-service .skill-box .skill-item .item {
  display: inline-block;
  margin: .5em 2em;
}

.about-service .skill-box .skill-item .item img {
  width: auto;
  height: auto;
}

.about-service .skill-box .skill-item .item p {
  color: #333333;
  font-weight: 100;
  font-size: .5em;
  padding: 1em;
}

.step {
  background-image: url(/img/aboutsecondbgsp.jpg);
  background-size: cover;
  color: #ffffff;
}

.step h3 {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 600;
}

.step h5 {
  margin-bottom: 2em;
  line-height: 2em;
}

.step h5 span {
  color: #ebb94d;
  font-weight: bold;
}

.step .step-box {
  background-color: #ffffff;
  color: #333333;
  margin: 1em;
  padding: .5em;
  border-radius: .5em;
}

.step .step-box .en {
  background-color: #ebb94d;
  color: #ffffff;
  margin: 1em;
  font-size: 1em;
  border-radius: .5em;
}

.step .step-box p {
  font-size: .8em;
  font-weight: bold;
  margin-top: 3em;
}

.step .step-box .ja {
  font-size: 1em;
  font-weight: bold;
}

.important {
  background-color: #016ea9;
  color: #ffffff;
  line-height: 1.5em;
  font-weight: bold;
}

.important span {
  color: #ebb94d;
}

.about-learning {
  background-color: #fff;
  padding: 3em 0 1em;
  text-align: center;
}

.about-learning h3 {
  font-weight: 500;
  margin-bottom: 2em;
}

.about-learning .small {
  font-size: .5em;
}

.about-learning p {
  margin-bottom: 1em;
}

.about-learning .learning-ball {
  display: flex;
}

.about-learning .learning-ball img {
  width: 20%;
  margin: 3em auto;
}

.about-recommend {
  background-color: #fef5e0;
}

.about-recommend .recommend-box {
  display: flex;
  margin: 3em 0 3em;
}

.about-recommend .recommend-box .recommend-item {
  margin: 0 1em;
  width: 50%;
}

.about-recommend .recommend-box .recommend-item img {
  width: 100%;
}

.about-recommend .recommend-box .recommend-item h5 {
  font-size: 1em;
  color: #ebb94d;
  margin-top: 1em;
}

.about-recommend .recommend-box .recommend-item p {
  color: #333333;
  font-weight: 100;
}

.about-recommend .recommend-benefit {
  background-color: #fff;
  border: solid 0.1em #ebb94d;
  margin: 2em;
  padding: 2em 4em;
}

.about-recommend .recommend-benefit h3 {
  color: #ebb94d;
}

.about-recommend p {
  color: #333333;
  font-size: .7em;
}

.member {
  background: url(/img/teacherbgsp.jpg);
  background-size: cover;
  color: #ffffff;
}

.member h3 {
  margin-bottom: 2em;
}

.member .p {
  font-size: 1em;
  margin-bottom: 15em;
}

.member .member-box {
  border: solid 3px #ffffff;
  margin-bottom: 13em;
  padding: 3em 2em 1em 2em;
  height: 18em;
  position: relative;
}

.member .member-box img {
  position: absolute;
  width: 13em;
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.member .member-box p {
  font-weight: 100;
  font-size: .9em;
}

.member .member-box .left {
  text-align: left;
}

.member .member-box:last-child {
  margin-bottom: 3em;
}

.question {
  position: relative;
  background-color: #ebb94d;
  color: #ffffff;
}

.question h3 {
  background-color: #fff;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  color: #ebb94d;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  font-size: 1.5em;
}

.question .caret {
  color: #ebb94d;
  font-size: 9em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer {
  background-color: #fff;
}

.answer .answers {
  display: flex;
  margin: 2em 0;
  text-align: left;
}

.answer .answers img {
  width: 30%;
  height: 100%;
  border: 3px solid #ebb94d;
}

.answer .answers h5 {
  color: #777;
  font-style: oblique;
  font-weight: 300;
  line-height: 1.5em;
  margin: 1em;
}

.answer .answers span {
  display: inline-block;
  font-size: .7em;
  text-decoration: underline;
  margin-top: 1em;
}

.learning {
  background: url(/img/classbgsp.jpg);
  background-size: cover;
  color: #ffffff;
}

.learning .lesson {
  margin: 2em;
}

.learning .lesson table {
  margin: 0 auto;
  border-collapse: separate;
  border-radius: .5em;
  border-top: #016ea9 3px solid;
  border-left: #016ea9 3px solid;
  width: 100%;
}

.learning .lesson th,
.learning .lesson td {
  display: block;
  padding: 1em;
}

.learning .lesson th {
  background-color: #016ea9;
  color: #ffffff;
  border-radius: .5em .5em 0 0;
}

.learning .lesson td {
  background-color: #ffffff;
  color: #333333;
  border-right: #016ea9 3px solid;
  border-bottom: #016ea9 3px solid;
  font-size: .9em;
  font-weight: bold;
  border-bottom: dotted 1px #e5e5e5;
}

.learning .lesson td:last-child {
  border-radius: 0 0 .5em .5em;
}

.learning-support {
  background-color: #016ea9;
  color: #ffffff;
  font-weight: 600;
}

.schedule-pc {
  background-color: #fff;
  color: #333333;
}

.schedule-pc h3 {
  margin-bottom: 2em;
}

.schedule-pc img {
  width: 100%;
}

.schedule-pc .schedule-box {
  margin-top: 3em;
}

.schedule-pc .schedule-box .boxes {
  background-color: #fef5e0;
  display: flex;
  padding: 3em 1em;
}

.schedule-pc .schedule-box .boxes .boxes-left {
  margin: 0 2em;
}

.schedule-pc .schedule-box .boxes .boxes-left img {
  width: 6em;
  margin-bottom: 2em;
}

.schedule-pc .schedule-box .boxes .boxes-right {
  text-align: left;
  font-size: .8em;
}

.schedule-pc .schedule-box img {
  width: 60%;
}

.bangkok {
  background: url(/img/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.bangkok .container {
  text-align: left;
}

.bangkok .container h4 {
  margin-bottom: 1em;
}

.bangkok .container .light {
  font-weight: light;
  font-size: .7em;
}

.bangkok .container .bold {
  font-weight: bold;
  margin: 1em 0 2em 0;
  line-height: 2em;
}

.benefit {
  background-color: #f7c23c;
}

.benefit h3 {
  margin-bottom: 2em;
}

.benefit p {
  margin-bottom: 5em;
}

.benefit .benefit-group-pc {
  border: 2px solid #ffffff;
  position: relative;
  padding: 3em;
}

.benefit .benefit-group-pc h3 {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7c23c;
  padding: .5em;
}

.benefit .benefit-group-pc .benefit-box {
  margin: 2em auto;
  padding: 3em 1em;
  background-color: #fff;
  border-radius: 50%;
  width: 16em;
  height: 16em;
  text-align: center;
}

.benefit .benefit-group-pc .benefit-box h4 {
  color: #f7c23c;
  margin-bottom: 1em;
}

.value {
  background: url(/img/specialdetailsp.jpg);
  background-size: cover;
  color: #ffffff;
}

.value h3 {
  margin-bottom: 2em;
}

.message {
  background-color: #fff;
}

.message h3 {
  margin-bottom: 2em;
}

.message p {
  margin-bottom: 2em;
}

.message img {
  width: 100%;
}

.message .speech {
  text-align: left;
  color: #777;
  margin: 2em 1em;
  font-size: .9em;
}

.contact2 {
  background-color: #ebb94d;
}

.contact2 .contact-form {
  margin: 2em auto;
}

.contact2 .contact-form input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ffffff;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 80%;
  border-radius: .3em;
  height: 3em;
  margin: .5em auto;
}

.contact2 .contact-form textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ffffff;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 80%;
  border-radius: .3em;
  height: 6em;
  margin: 2em auto;
}

.contact2 .contact-form .submit {
  display: inline-block;
  width: 80%;
  height: 3em;
  padding: .7em;
  background-color: #da6b64;
  border-radius: 3em;
  letter-spacing: 1em;
  font-size: 1.2em;
}

.questions {
  background-color: #fff;
  padding: 2em 3em;
}

.questions h3 {
  text-align: center;
  padding: 2em 0;
}

.questions .question-accordion {
  position: relative;
  width: 100%;
  margin-bottom: .3em;
  text-align: center;
}

.questions .question-accordion .question-article-title {
  text-align: left;
  display: block;
  position: relative;
  margin: 0;
  padding: 1em;
  font-weight: 600;
  cursor: pointer;
  border: solid 1px #ececec;
}

.questions .question-accordion .question-article-title .fa-question-circle {
  color: #016ea9;
}

.questions .question-accordion .question-article-title:hover,
.questions .question-accordion .question-article-title:active,
.questions .question-accordion .content-entry.open .question-article-title {
  text-decoration: underline;
}

.questions .question-accordion .question-article-title:hover i:before,
.questions .question-accordion .question-article-title:hover i:active,
.questions .question-accordion .content-entry.open i {
  text-decoration: underline;
}

.questions .question-accordion .question-article-title {
  position: relative;
}

.questions .question-accordion .question-article-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 10px;
  height: 10px;
  border-top: solid 3px #ececec;
  border-right: solid 3px #ececec;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.questions .question-accordion .question-article-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.questions .question-accordion .question-accordion-content {
  text-align: left;
  display: none;
  padding: 1.5em;
  font-weight: 600;
  font-size: .9em;
  color: #333333;
}

footer {
  background-color: #ececec;
  padding: 3em;
  text-align: center;
  font-size: .7em;
}

footer .sns {
  padding: .7em;
  font-size: .5em;
  border-radius: .5em;
  margin-bottom: 4em;
}

footer .fa-twitter {
  background-color: #1DA1F2;
}

footer .fa-thumbs-up,
footer .share {
  background-color: #4267B2;
}

footer .name {
  color: #016ea9;
}
